#play-menu{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgba(152,118,94,1) 3%, rgba(205,157,109,1) 58%, rgba(252,199,132,1) 96%);
    visibility: visible;
    z-index: 5;
    position: fixed;
    display: grid;
    place-content: center;
}

.menu-container{
    height: 80vh;
    width: 50vw;
    background-color: rgb(218, 199, 175);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10vh;
}

.app-name{
    color: rgb(65, 44, 21);
    margin: 8vh;
}

.play-btn-grp{
    height: 30vh;
    padding: 2vh 10vw 2vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.play-btn{
    margin: 2vh;
    width: 20vw;
    padding: 2vh;
    text-align: center;
    background-color: rgb(134, 102, 62);
    border: 2px solid rgb(71, 54, 38);
    border-radius: 2px;
}
.play-btn:hover{
    background-color: rgb(153, 117, 73);
}