.sign-up-page{
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Sign-Up {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgba(152,118,94,1) 3%, rgba(205,157,109,1) 58%, rgba(252,199,132,1) 96%);
    visibility: visible;
    z-index: 5;
}
.Left-Box {
    position: absolute;
    width: 45%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: #F2EAD3;
    border-radius: 10%;
    flex: content;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.Right-Box {
    position: absolute;
    width: 40%;
    height: 50%;
    left: 53%;
    top: 20%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.Text-Style {
    text-align: center;
    text-decoration: #F2EAD3;
}